    <footer class="footer">
        <div class="wrapper">
            {% include partials/nav.html %}
            <ul>
                <li><a href="{{ site.social_facebook }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="{{ site.social_instagram }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/js/instafeed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.1.8/min/tiny-slider.js"></script>
    <script type="text/javascript" src="/assets/js/scripts.js"></script>

</body>
</html>