<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,600" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.1.8/tiny-slider.css">

    <title>{{page.title}}</title>
</head>
<body id="home">

    <header class="header">
        
        <div class="wrapper">
            <div class="col-logo">
                <img src="assets/img/dog-and-boot-logo.png" class="logo">
            </div>
            
            <div class="col-nav">
                {% include partials/nav.html %}
            </div>
        </div>

        <div class="image--bg">
            <div class="wrapper">
                <h1 class="tagline"><span>Your Local</span> Watering Hole <span>For your four-legged friend</span></h1>
            </div>
        </div>
        
    </header>