header{
    nav {
        float: right;
        width: 80%;
        ul.nav {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 100%;

            li {
                display: inline;
                background: $nav--bg;
                color: #fff;
                margin: 0;
                padding: 0;
                float: left;
                width: 16%;
                text-align: center;
                
                &.active {
                    // background: $nav--bg-hover;

                    a {
                        color: $brand--bronze;
                    }
                }

                &:hover {
                    background: $nav--bg-hover;
                }

                a {
                    padding-top: 26px;
                    padding-bottom: 26px;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    float: left;
                    text-decoration: none;
                    text-align: center;
                }

                &.phone {
                    float: right;
                    background: none;
                    width: 16%;
                    // pad
                }
            }
        }
    }
}
