.header {
    position: relative;
    background-color: $brand--dark-blue;
    padding: 43px 0;
    width: 100%;
    height: 100vh;

    @include respond-to($breakpoint-medium) {
        height: 100%;
    }

    .col-logo {
        @include column(1/5);

        @include respond-to($breakpoint-medium) {
            @include stack();

            img {
                display: block;
                margin: 0 auto;
                max-height: 120px;
            }
        }
    }

    .col-nav {
        @include column(4/5);

        @include respond-to($breakpoint-medium) {
            @include stack();

            nav.navwrapper {
                display: none;
                float: none;
                width: 35%;
                position: absolute;
                top: 95px;
                right: 40px;
                z-index: 999;
                transition: all 0.4s;
                opacity: 0;

                @include respond-to($breakpoint-tiny) {
                    right: 20px;
                    top: 75px;
                }

                &.active {
                    display: block;
                    opacity: 1;
                }

                ul {
                    width:100%;
                    padding: 10px 18px;
                    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
                    border-radius: 3px;
                    background: darken($brand--dark-blue, 8%);
                    float: left;
                }

                ul:after {
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    top: 0;
                    right: 15px;
                    content:'';
                    transform: translate(0%, -100%);
                    border-left: 7px solid transparent;
                    border-right: 7px solid transparent;
                    border-bottom: 7px solid darken($brand--dark-blue, 8%);
                }

                li {
                    margin: 5px 0px 5px 0px;
                    float: none;
                    display: block;
                    width: 100%;
                    background: none;
                }

                a {
                    display: block;
                    padding: 15px 0;

                    i {
                        margin-right: 8px;
                    }
                }

            }
        }

        @include respond-to(480px) {
            nav.navwrapper {
                width: 84%;
            }
        }
        
    }

    .toggle-nav {
        @include remCalc('font-size', 36px);
        font-weight: 400;
        padding: 5px;
        display: none;
        color: #fff;
        text-decoration: none;
        position: absolute;
        right: 40px;
        top: 40px;
        transition: all 0.4s;

        &.active {
            background: darken($brand--dark-blue, 8%);
        }

        @include respond-to($breakpoint-medium) {
            display: block;
        }

        @include respond-to($breakpoint-tiny) {
            right: 20px;
            top: 20px;
        }
    }

    .image--bg {
        width: 100%;
        height: 66vh;
        background-image: url("../img/dog.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
        position: absolute;
        bottom: 0;
        left: 0;
        
        h1.tagline {
            @include remCalc('font-size', 66px);
            @include align(both);
            text-align: center;
            color: #fff;
            letter-spacing: 5px;

            @include respond-to($breakpoint-medium) {
                @include remCalc('font-size', 48px);
            }
            
            span {
                @include remCalc('font-size', 28px);
                display: block;
                font-family: $sans-serif;
                font-weight: 100;
                margin: 6px 0;

                @include respond-to($breakpoint-medium) {
                    @include remCalc('font-size', 20px);
                }
            }
        }
    }
}

.section {
    clear: both;
    width: 100%;
    padding: 80px 0;
    
    @include respond-to($breakpoint-small) {
        height: auto;
        padding: 40px 0;
        text-align: center;
    }

    h2 {
        @include remCalc('font-size', 30px);
    }

    .heading {
        p {
            @include remCalc('font-size', 20px);
            margin-bottom: 10px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        hr {
            width: 100px;
            height: 1px;
            border: none;
            background: #333;
            margin: 0 0 1.6em 0;

            @include respond-to($breakpoint-small) {
                @include center(100px);
            }
        }

        
    }
}

.section--about {
    .col {
        @include column(2/3, $gutter: 4);

        @include respond-to($breakpoint-small) {
            @include stack();
        }
    }

    .col-img {
        @include column(1/3, $gutter: 4);

        @include respond-to($breakpoint-small) {
            @include stack();
        }
    }

    img {
        //margin-bottom: 40px;

        @include respond-to($breakpoint-small) {
            margin-bottom: 0;
        }
    }
}

.section--full-image {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    // padding: 240px 0;

    @include respond-to($breakpoint-small) {
        width: 100%;
        height: 50vh;
        background-size: contain;
        background-attachment: initial;
        padding: 0;
    }
}

.section--services {
    text-align: center;

    .heading {
        hr {
            @include center(100px);
        }
    }
    
    .col {
        @include column(1/4, $gutter: 4);
        margin-top: 65px;
        // margin-bottom: 65px;

        @include respond-to($breakpoint-small) {
            @include stack();
            margin-top: 20px;
            margin-bottom: 20px;
        }

        img {
            margin: 0 0 41px;
            max-width: 70%;
        }

        h3 {
            text-transform: uppercase;
            font-family: $sans-serif;
        }
        
        p {
            @include remCalc('font-size', 18px);

            span.services--price {
                color: $brand--bronze;
                font-weight: 600;
                letter-spacing: 1px;
            }
        }
    }
}

.section--testimonials {
    text-align: center;

    .heading {
        text-align: left;

        @include respond-to($breakpoint-small) {
            text-align: center;
        }
    }

    .testimonials--content {
        @include center(67%);

        @include respond-to($breakpoint-small) {
            @include center(76%);
        }
    }

    .wrapper--carousel {
        position: relative;
        //@include center(72%);
        padding-left: 5%;
        padding-right: 5%;
    }

    .testimonials--slider {
        text-align: left;
        margin: 70px 0;
        
        .slider--item {
            

            .col--image {
                @include column(1/4);

                @include respond-to($breakpoint-small) {
                    @include stack();

                    img {
                        display: block;
                        margin: 0 auto 20px auto;
                    }
                }
            }
            .col--content {
                @include column(3/4);
                @include remCalc('font-size', 25px);

                @include respond-to($breakpoint-small) {
                    @include remCalc('font-size', 18px);
                    @include stack();
                }

                .testimonial--author {
                    @include remCalc('font-size', 18px);
                }
            }
        }
    }

    .testimonials--slider-controls {
        color: $brand--bronze;

        i {
            @include remCalc('font-size', 24px);
            position: absolute;
            top: 40%;

            &.fa-arrow-circle-left {
                left: 0;
            }
            &.fa-arrow-circle-right {
                right: 0;
            }
        }
    }
}

.section--instagram {
    position: relative;
    padding: 0;
    
    i {
        font-size: 53px;
        color: #fff;
        position: absolute;
        top: 33px;
        left: 33px;

        &:hover {
            cursor: pointer;
        }

        @include respond-to($breakpoint-small) {
            top: 33px;
        }
    }

    .instagram--item {
        @include column(1/3, $cycle: 3, $gutter:0);

        @include respond-to($breakpoint-small) {
            @include column(1/2, $cycle: 2, $gutter:0);
        }
        @include respond-to($breakpoint-tiny) {
            @include stack();
        }
    }
}

.section--contact {
    background: url('../img/contact-bg.jpg') no-repeat center center;
    background-size: cover;

    h1,h2,h3,h4,h5,h6,p {
        color: #fff;
    }

    .heading hr {
        background: #fff;
    }

    p {
        @include remCalc('font-size', 18px);
    }

    .wrapper--medium {
        @include respond-to($breakpoint-small) {
            @include center(88%);
        }
    }
    
    .col {
        @include column(1/2);

        &.col--form {
            @include move(-1/2);

            @include respond-to($breakpoint-small) {
                @include unmove();
                @include stack();
            }
        }

        &.col--text {
            @include move(1/2);

            @include respond-to($breakpoint-small) {
                @include unmove();
                @include stack();

                margin-bottom: 40px;
            }
        }
        
    }

    .contact--bg {
        background-color: rgba(54, 57, 62, 0.8);
        padding: 5.5%;
        float: left;
    }

    ul.contact--details {
        margin: 35px 0 0 0;
        @include respond-to($breakpoint-small) {
            text-align: left;
        }
        li {
            @include remCalc('font-size', 20px);
        }
    
        i {
            @include remCalc('font-size', 20px);
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 10px;
        }
    }
}


ul.social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        display: inline;
        margin-right: 10px;
    }
    a {
        @include remCalc('font-size', 42px);
        color: #fff;
    }
}

ul.contact--details {
    margin: 0 0 0 0;
    li {
        @include remCalc('font-size', 20px);
        color: #fff;
        margin-bottom: 10px;
    }

    a {
        color: #fff;
    }

    i {
        @include remCalc('font-size', 20px);
        color: #fff;
        margin-right: 24px;
    }
}

.footer {
    @include clearfix();
    background-color: $brand--dark-blue;
    padding: 30px 0;

    .col {
        @include column(11/12);

        @include respond-to($breakpoint-small) {
            @include stack();
        }
    }

    .col-logo {
        @include column(1/12);

        @include respond-to($breakpoint-small) {
            @include stack();
        }
    }

    a {
        text-decoration: none;
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }

    ul {
        list-style-type: none;
        margin: 15px 0;
        padding: 0;
        float: left;

        &.nav {
            li:last-child {
                display: none;
            }
        }

        li {
            @include remCalc('font-size', 16px);
            display: inline;
            margin-right: 40px;
        }

        i {
            @include remCalc('font-size', 16px);
            margin-right: 10px;
        }
    }

    p {
        clear: both;
        color: #fff;
    }
}