// Colours

$brand--dark-blue: #373a3f;
$brand--bronze: #ba8666;

$text-main-colour: #313131;

$nav--bg: #2e3136;
$nav--bg-hover: #2a2d32;



// Fonts
$sans-serif: 'Source Sans Pro', Arial, sans-serif;
$serif: 'Lora', serif;


// Breakpoints
$breakpoint-tiny:	400px;
$breakpoint-small:	650px;
$breakpoint-medium:	960px;
$breakpoint-large:	1140px;
