<section id="about" class="section section--about">
    <div class="wrapper">
        
        <div class="heading">
            <h2>About</h2>
        </div>
        
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a aliquet mi. Aliquam efficitur mollis nunc ut elementum. Nam congue rhoncus nibh in molestie. Nullam ultricies posuere elit, nec pulvinar lacus volutpat sed. Integer arcu eros, consequat eget sem nec, commodo efficitur nibh. Morbi tincidunt luctus purus quis sodales. Aliquam semper in libero vitae vestibulum. Cras posuere accumsan blandit.</p>

            <p>Praesent nec dolor nisl. Donec nec odio venenatis, semper metus ut, elementum libero. Donec dictum, dui sit amet pretium blandit, velit metus pharetra mauris, a ullamcorper mauris lorem at sem. Integer nec odio mollis, semper libero sit amet, sagittis nisi. Cras mi mauris, consectetur et faucibus vel, condimentum nec justo. Sed eu lacinia nibh. Vivamus luctus dui a augue bibendum hendrerit sed id nisl. Aliquam consectetur, nisl in rutrum placerat, orci dolor convallis ipsum, nec pretium ipsum magna nec arcu. Sed ullamcorper pulvinar sagittis. Nunc vitae tincidunt tortor.</p>

        </div>
        <div class="col">
            
        </div>
       
    </div>
</section>