<section id="testimonials" class="section section--testimonials">
    <div class="wrapper">
        
        <div class="heading">
            <h2>Testimonials</h2>
        </div>
        
        <h3>I love hearing form happy customers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a aliquet mi. Aliquam efficitur mollis nunc ut elementum. Nam congue rhoncus nibh in molestie. Nullam ultricies posuere elit, nec pulvinar lacus volutpat sed. Integer arcu eros, consequat eget sem nec, commodo efficitur nibh. Morbi tincidunt luctus purus quis sodales. Aliquam semper in libero vitae vestibulum. Cras posuere accumsan blandit.</p>

        </div>
        <div class="col">
            
        </div>
       
    </div>
</section>