<section id="testimonials" class="section section--testimonials">
    <div class="wrapper">
        
        <div class="heading">
            <p>Testimonials</p>
            <hr>
        </div>
        
        <div class="testimonials--content">
            <h2>I love hearing from happy customers</h2>
            <p>Creating lasting bonds and happy experiences is my key goal so hearing from happy customers lets me know you and your furry friend are happy with the services I provide.</p>
        </div>
        
    </div>

    <div class="wrapper wrapper--carousel">
        <div id="testimonials--slider" class="testimonials--slider">

            <div class="slider--item">
                <div class="col--image">
                    <img src="assets/img/testimonial-jazz.jpg">
                </div>
                <div class="col--content">
                    <p>My dog jazz had a over night stay and loved it. I had no worries at all and felt right at home here. I will definitely be using again and again.</p>
                    <p class="testimonial--author">Clare &amp; Jazz</p>
                </div>
            </div>

        </div>
       <div id="testimonials--slider-controls" class="testimonials--slider-controls">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
       </div>
    </div>
</section>