<section id="testimonials" class="section section--testimonials">
    <div class="wrapper">
        
        <div class="heading">
            <p>Testimonials</p>
            <hr>
        </div>
        
        <h2>I love hearing form happy customers</h2>
        <p>Creating lasting bonds and happy experiences is my key goal so hearing from happy customers lets me know you and your furry friend are happy with the services I provide.</p>

        </div>
        <div class="col">
            <!-- <img src="https://unsplash.it/600/400" alt=""> -->
        </div>
       
    </div>
</section>