<section class="section section--services">
    <div class="wrapper">
        <div class="heading">
            <h2>Services</h2>
        </div>
    
        <h3>Tailored experiences for you canine companion</h3>
        <p>Phasellus tristique interdum turpis a congue. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis, enim nec consequat scelerisque, odio justo laoreet ex, id sagittis arcu erat vitae massa. Sed eget tortor ligula. In rutrum lectus ante, vel posuere mi rhoncus sit amet. Vestibulum congue urna vel tempus ultricies. Pellentesque sed nibh leo. Quisque egestas ipsum eget dolor lacinia, dignissim consequat velit dapibus. Phasellus mi purus, imperdiet eget ullamcorper et, lobortis ut est. Maecenas quis blandit leo.</p>
        <p>Vestibulum imperdiet ornare ex sed semper. Vivamus pellentesque tempus nisi, a posuere turpis sagittis a. Curabitur vel laoreet orci.</p>
    </div>

    <div class="col">
        <h3>Walking</h3>
    </div>
    <div class="col">
        <h3>Boarding</h3>
    </div>
    <div class="col">
        <h3>Day Care</h3>
    </div>
    
</section>