<section id="services" class="section section--services">
    <div class="wrapper">
        <div class="heading">
            <p>Services</p>
            <hr>
        </div>
    
        <h2>Tailored experiences for your canine companion</h2>
        <p>Our four-legged friends come in a variety of shapes and sizes, all with different needs and individual personalities. That’s why at The Dog & Boot I like to get to know you and your furry friend, listening to your needs in order to deliver a service that delivers peace of mind & happiness for both pet and owner. To do this I offer a meet & greet before any walk or stay, most importantly it gives your four-legged friend time to settle and to make sure you are both comfortable with me and my home.</p>
        <p>Quality time and individual attention for each dog is important, that’s why I aim to keep group waks and boarding to a maximum of 3 dogs at a time depending on size and individual needs of each of your canine companions.</p>
    </div>

    <div class="wrapper wrapper--medium">
        <div class="col">
            <img src="assets/img/dog-walking-icon.png">
            <h3>Walking</h3>
            <p>Could your canine companion do with burning off some excess energy or could they simply benefit from some company and excercise to break up their day. I offer both group and solo walks, accomodating dogs who enjoy socilization or dogs who just prefer to be alone.</p>
            <hr>
            <p>The rate of walking is <br><span class="services--price">£10</span> per hour.</p>
            <p>I will happily provide longer or shorter walks if required.</p>
        </div>
        <div class="col">
            <img src="assets/img/day-care-icon.png">
            <h3>Day Care</h3>
            <p>Going out for the day and the furry member of the family can’t tag along, need some time to yourself or have a pup that can’t be left alone for long or simplyjust want some company for your four legged friend. Just drop them off with me, and my house is their house for the day.</p>
            <hr>
            <p>The rate of day care is <br><span class="services--price">£18</span> per day.</p>
            <p>From 8am to 6pm, times can be arranged to suit.</p>
        </div>
        <div class="col">
            <img src="assets/img/day-care-icon.png">
            <h3>Sitting</h3>
            <p>Going out for the day and the furry member of the family can’t tag along, need some time to yourself or have a pup that can’t be left alone for long or simplyjust want some company for your four legged friend. Just drop them off with me, and my house is their house for the day.</p>
            <hr>
            <p>The rate of dog sitting is from <br><span class="services--price">£5</span> per 30 minutes.</p>
            <p>From 8am to 6pm, times can be arranged to suit.</p>
        </div>
        <div class="col">
            <img src="assets/img/dog-boarding-icon.png">
            <h3>Boarding</h3>
            <p>Away on holiday, having a weekend break or simply need a place for your canine friend for the night, The Dog & Boot offers a home from home experience in which your furry friend joins me in my home benefiting from lots of attention, playtime and home comforts in a safe & secure enviroment.</p>
            <hr>
            <p>The rate of nightly boarding is <br><span class="services--price">£22</span> per night.</p>
            <p>24hrs from the time your dog is dropped off with me.</p>
        </div>
    </div>
    
</section>