<section id="about" class="section section--about">
    <div class="wrapper">
        
        <div class="heading">
            <p>About</p>
            <hr>
        </div>
        
        <div class="col">
            <h2>Welcome to The Dog & Boot</h2>
            <p>I’m Kristina and the face behind The Dog & Boot. Located from my home in Droitwich, The Dog & Boot offers your four-legged member of the family a loving home from home experience, from daily walks and nightly boarding to simply a friend for the day. I’ll happily tailor individual needs to help share the care for your canine companion whilst giving yourself peace of mind with picture updates that your furry friend is being well looked after.</p>

            <p>Previously a graphic designer, my passion and love for dogs encouraged me to change directions in my career and open up my home to your furry friend. I guarantee a professional and reliable  service in and around the areas of Droitwich. I’m fully insured and a member of the NARPS (National Association Of Pets). Whether you need daily help with your dog or just on an occasional basis The Dog & Boot is here to help.</p>

        </div>
        <div class="col">
            <!-- <img src="https://unsplash.it/600/400?random" alt=""> -->
        </div>
       
    </div>
</section>