<section id="contact" class="section section--contact">
    <div class="wrapper--medium">
        <div class="contact--bg">
            <div class="col">
                <form action="https://formspree.io/thedogandboot@gmail.com" method="POST">
                    <input type="text" name="name" placeholder="Your name...">
                    <input type="email" name="_replyto" placehlder="Your email...">
                    <input type="text" name="phone" placehlder="Your number...">
                    <textarea name="message" placeholder="How can I help?"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="col">

            </div>
            
        </div>
    </div>
    
</section>