<section class="section section--gallery">
    <div class="col">
        <img src="assets/img/gallery--img1.jpg">
    </div>
    <div class="col">
        <img src="assets/img/gallery--img2.jpg">
    </div>
    <div class="col">
        <img src="assets/img/gallery--img3.jpg">
    </div>
    <div class="col">
        <img src="assets/img/gallery--img4.jpg">
    </div>
    <div class="col">
        <img src="assets/img/gallery--img5.jpg">
    </div>
    <div class="col">
        <img src="assets/img/gallery--img6.jpg">
    </div>
</section>