<nav id="nav" class="navwrapper">
    <ul class="nav">
        <li class="active"><a href="#home" class="nav--item">Home</a></li>
        <li><a href="#about" class="nav--item">About</a></li>
        <li><a href="#services" class="nav--item">Services</a></li>
        <li><a href="#testimonials" class="nav--item">Testimonials</a></li>
        <li><a href="#contact" class="nav--item">Contact</a></li>
        <li class="phone"><a href="tel:{{site.contact_phone}}"><i class="fa fa-phone" aria-hidden="true"></i> {{ site.contact_phone }}</a></li>
    </ul>
</nav>